.filterWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}

.filterWrapper .filterBox {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 50px;
    border: 1px solid #caced2;
    border-radius: 50px;
    padding: 20px 30px;
    flex-wrap: wrap;
}