.informationWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.informationWrapper .leftBox {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.informationWrapper .leftBox .title {
    font-size: 48px;
    font-weight: 600;
}

.informationWrapper .leftBox .des {
    font-size: 16px;
    font-weight: 500;
}

.informationWrapper .rightBox {
    flex: 1;
    width: 100%;
}

.informationWrapper .rightBox img {
    max-width: 100%
}