.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.wrapper .title {
    font-size: 24px
}

.wrapper .submitButton {
    min-width: 800px
}